@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

<div class="d-flex flex-column w-100 h-100">
    <form id="form" class="p-3" asp-action="Signup" method="post">
        <div class="row">
            <div id="employeeSection">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="Name" placeholder="Fullname">
                    <label for="fullname">@localizer["fullname"]</label>
                </div>
                <div class="input-group mb-3">
                    <div id="emailWrapper" class="form-floating flex-grow-1">
                        <input type="text" class="form-control rounded-0 rounded-start" name="Email" placeholder="Email">
                        <label for="email">@localizer["email"]</label>
                    </div>
                    <span class="input-group-text">@localizer["emailSuffix"]</span>
                </div>
                <!--Select Divs-->
                <div class="row row-cols-12">
                    <div class="form-floating col-6">
                        <select class="form-select" name="DepartmentId"
                                asp-items="@(new SelectList(ViewBag.departments, nameof(Department.Id), nameof(Department.Name)))">
                            <option selected hidden>@localizer["dropdownSelect"]</option>
                        </select>
                        <label for="departament" class="ms-2">@localizer["department"]</label>
                    </div>
                    <div class="form-floating col-6">
                        <select class="form-select" name="PositionId" disabled>
                            <option selected hidden>@localizer["dropdownSelect"]</option>
                    </select>
                    <label for="PositionId" class="ms-2">@localizer["position"]</label>
                </div>
            </div>
        </div>
        <div id="userSection" class="mt-3">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="Username" placeholder="Username">
                <label for="username">@localizer["username"]</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" name="Password" placeholder="Password">
                <label for="password">@localizer["password"]</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" placeholder="Confirm password">
                <label for="confirmpassword">@localizer["confirmPassword"]</label>
            </div>
            <div class="d-grid gap-2 mb-3">
                <button class="btn btn-lg btn-primary" type="submit"><i class="fa fa-user-plus"></i> @localizer["signup"]</button>
            </div>
        </div>
    </form>
</div>
<script src="~/js/Home/Partial/Signup/index.js"></script>