@{
    ViewData["Title"] = "Index";
    int counter = 0;
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

<div class="container w-100 h-100 d-flex flex-column justify-content-center p-2 p-sm-3 p-md-4 p-lg-5">
    <div class="row row-cols-1 row-cols-lg-2 w-100 h-50 mb-2">
        <div class="col my-lg-0 my-2 h-100">
            <div class="d-flex flex-column w-100 h-100 mb-2 rounded border">
                <div class="tabBar unselectable blue-gradient rounded-top d-flex">
                    <div id="tabBarLeftArrow" class="tabBarArrow d-flex justify-content-center align-items-center py-2 px-3"><i class="fa-solid col fa-arrow-left"></i></div>
                    <div id="tabBarBox" class="tabBarList w-100 m-0 hstack row-cols-4 text-center noScrollbar " style="scroll-behavior: smooth; overflow-y: hidden;">
                        @foreach (Furlough.DAL.Models.Department item in ViewBag.departments)
                        {
                            <div class="tabBarItem cursor-Pointer" departmentId="@item.Id">
                                <a class="px-2" style="white-space: nowrap;">@item.Name</a>
                            </div>
                        }
                    </div>
                    @* <div class="line"></div> *@
                    <div id="tabBarRightArrow" class="tabBarArrow d-flex justify-content-center align-items-center py-2 px-3"><i class="fa-solid fa-arrow-right"></i></div>
                </div>
                <div class="d-flex flex-column w-100 h-100 text-center">
                    <ul class="listHeader unselectable w-100 row mx-0 mb-0 list-unstyled border-bottom border-1 border-dark">
                        <li class="col">@localizer["userId"]</li>
                        <li class="col">@localizer["name"]</li>
                        <li class="col">@localizer["department"]</li>
                        <li class="col">@localizer["position"]</li>
                    </ul>
                    <div class="w-100 flex-grow-1 overflow-auto" style="height: 1px;">
                        @foreach (Furlough.DAL.Models.Employee item in ViewBag.employees)
                        {
                            <ul rowId="@counter" class="listItem w-100 row mx-0 mb-0 list-unstyled border-bottom border-1">
                                <li class="col">
                                    <a class="dashboardRowLink" asp-area="Admin" asp-controller="Employee" asp-action="Details"
                                    asp-route-id="@item.Id">@item.UserId</a>
                                </li>
                                <li class="col">
                                    <a class="dashboardRowLink" asp-area="Admin" asp-controller="Employee" asp-action="Details"
                                    asp-route-id="@item.Id">@item.Name</a>
                                </li>
                                <li class="col">
                                    <a class="dashboardRowLink" asp-area="Admin" asp-controller="Employee" asp-action="Details"
                                    asp-route-id="@item.Id">@item.DepartmentId</a>
                                </li>
                                <li class="col">
                                    <a class="dashboardRowLink" asp-area="Admin" asp-controller="Employee" asp-action="Details"
                                    asp-route-id="@item.Id">@item.PositionId</a>
                                </li>
                            </ul>
                            //Counter Incremental
                            counter++;
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col my-lg-0 my-2 h-100">
            <div class="w-100 h-100 d-flex flex-column align-items-center text-center rounded border">
                <div class="w-100 h-100">
                    <div class="w-100 unselectable m-0 row text-center blue-gradient rounded-top ">
                        <a asp-area="Admin" asp-controller="Request" asp-action="Index"
                            class="dashboardTableHeader py-2 w-100 row mx-0 mb-0 list-unstyled ">
                            @localizer["recentRequests"]
                        </a>
                    </div>
                    <ul class="listHeader unselectable w-100 row mx-0 mb-0 list-unstyled border-bottom border-1 border-dark">
                        <li class="col">@localizer["name"]</li>
                        <li class="col">@localizer["requestedTime"]</li>
                        <li class="col">@localizer["type"]</li>
                    </ul>
                    @foreach (Furlough.DAL.Models.RequestByDepartment item in ViewBag.requests)
                    {
                        <ul rowId="@counter" class="listItem w-100 row mx-0 mb-0 list-unstyled border-bottom border-1">
                            <li class="col-4">
                                <a class="dashboardRowLink" asp-area="Admin" asp-controller="Request" asp-action="Details"
                                asp-route-id="@item.RequestId">@item.EmployeeName</a>
                            </li>
                            <li class="col-4">
                                <a class="dashboardRowLink" asp-area="Admin" asp-controller="Request" asp-action="Details"
                                asp-route-id="@item.RequestId">@item.RequestedOn</a>
                            </li>
                            <li class="col-4">
                                <a class="dashboardRowLink" asp-area="Admin" asp-controller="Request" asp-action="Details"
                                asp-route-id="@item.RequestId">@item.RequestStatusId</a>
                            </li>
                        </ul>
                        //Counter Incremental
                        counter++;
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-2 w-100 h-50 mb-2">
        <div class="col my-lg-0 m-auto my-2 h-100">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var labels = [];
    @foreach (Furlough.DAL.Models.Department item in ViewBag.departments)
    {
        @:labels.push("@item.Name");
    }

    var dataValue = [12, 3, 7, 19, 6, 10];

    var bgColor = [
            'rgba(255, 99, 132, 0.5)',
            'rgba(54, 162, 235, 0.5)',
            'rgba(255, 206, 86, 0.5)',
            'rgba(75, 192, 192, 0.5)',
            'rgba(54, 162, 235, 0.5)',
            'rgba(255, 206, 86, 0.5)',
            'rgba(75, 192, 192, 0.5)'
        ];
    var brColor = [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)'
        ];
    var datasets = [];
    for (let i = 0; i < labels.length; i++) {
        var obj = {};
        var objdata = [];
        objdata.push(dataValue[i]);
        obj['label'] = labels[i];
        obj['data'] = objdata;        
        obj['backgroundColor'] = bgColor[i];
        obj['borderColor'] = brColor[i];
        obj['borderWidth'] = 1;
        datasets.push(obj);
        console.log(datasets);
    }
    var data = {
        labels: ['Employee on Vacation'],
        datasets: datasets
    };
    var config = {
        type: 'bar',
        data: data,
        options: {
            plugins: {
                legend: {
                    display: true,
                    position: 'bottom',
                    labels: {
                        usePointStyle: true,
                        boxWidth: 8
                    }
                }
            }
        }
    };
</script>
<script>
    var myChart = new Chart(document.getElementById('myChart'),config);
</script>

<link href="~/css/Areas/Shared/dashboardIndex.css" rel="stylesheet" />
<script src="~/js/Areas/Admin/Home/tabBar.js"></script>
<script src="~/js/Areas/Admin/Home/index.js"></script>