@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

<div class="container w-100 h-100 d-flex justify-content-center p-2 p-sm-3 p-md-4 p-lg-5">
    <div class="row row-cols-1 row-cols-lg-2 w-100 h-100">
        <div class="col my-lg-0 my-2">
            <div class="d-flex flex-column w-100 h-100 mb-2 rounded border border-dark">
                <div class="tabBar">
                    <div class="tabBarList w-100 m-0 row text-center blue-gradient rounded-top">
                        @foreach (Furlough.DAL.Models.Department item in ViewBag.departments)
                        {
                            <div class="tabBarItem col rounded-top" departmentId="@item.Id">
                                <a href="">@item.Name</a>
                            </div>
                        }
                    </div>
                    <div class="line"></div>
                </div>
                <div class="d-flex flex-column w-100 h-100 text-center">
                    <ul class="listHeader w-100 row mx-0 mb-0 list-unstyled border-bottom border-2 border-dark">
                        <li class="col">@localizer["userId"]</li>
                        <li class="col">@localizer["name"]</li>
                        <li class="col">@localizer["department"]</li>
                        <li class="col">@localizer["position"]</li>
                    </ul>
                    <div class="w-100 flex-grow-1 overflow-auto" style="height: 500px;">
                        @foreach (Furlough.DAL.Models.Employee item in ViewBag.employees)
                        {
                            <ul class="listItem w-100 row mx-0 mb-0 list-unstyled border-bottom border-1">
                                <li class="col">@item.UserId</li>
                                <li class="col">@item.Name</li>
                                <li class="col">@item.DepartmentId</li>
                                <li class="col">@item.PositionId</li>
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col my-lg-0 my-2">
            <a asp-area="Admin" asp-controller="Request" asp-action="Index">
                <div class="w-100 h-100 d-flex flex-column align-items-center text-center rounded border border-dark">
                    <h2 class="recentRequestHeader py-5">@localizer["recentRequests"]</h2>
                    <div class="w-100 h-100">
                        <ul class="listHeader w-100 row mx-0 list-unstyled">
                            <li class="col-4">@localizer["name"]</li>
                            <li class="col-4">@localizer["requestedTime"]</li>
                            <li class="col-4">@localizer["type"]</li>
                        </ul>
                        @foreach (Furlough.DAL.Models.RequestByDepartment item in ViewBag.requests)
                        {
                            <ul class="listItem w-100 row mx-0 list-unstyled">
                                <li class="col-4">@item.EmployeeName</li>
                                <li class="col-4">@item.RequestedOn</li>
                                <li class="col-4">@item.RequestStatusId</li>
                            </ul>
                        }
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<link href="~/css/Areas/Shared/dashboardIndex.css" rel="stylesheet" />

<script>
    $(function () {
        $(".tabBarList div").first().addClass("activeBar");
    });
</script>
<script src="~/js/Areas/Admin/Home/tabBar.js"></script>
<script src="~/js/Areas/Admin/Home/index.js"></script>