@{
    ViewData["Title"] = "Index";
    var today = DateTime.Now;
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
<script src="~/js/Areas/Employee/Home/index.js"></script>
<link href="~/css/Areas/Employee/Home/calendar.css" rel="stylesheet" />
<script src="~/js/Areas/Employee/Home/calendar.js"></script>
<div class="w-100 h-100">
    <div class="container-fluid overflow-hidden">
        <div class="text-center h2 mt-4">@localizer["annualDays"]</div>
        <div id="infoCardsWrapper" class="position-relative hstack pb-5 justify-content-center">
            <div class="position-absolute bg-white p-2 rounded-circle d-flex shadow-sm" id="infoCardsArrowLeft">
                <i class="fa-solid fa-arrow-left"></i>
            </div>
            <div class="row-cols-1 row-cols-md-3 row-cols-lg-4 px-3 hstack" id="infoCards">
                @foreach (var item in (IEnumerable<Furlough.DAL.Models.RequestType>)ViewBag.requestTypes)
                {
                    var requestType = (string[])typeof(Furlough.Models.RequestType).GetField("Icon" + item.Type).GetValue(null);

                    <div class="card m-2" style="width: 18rem;">
                        <div class="card-body">
                            <div class="card-title fw-bold fs-5 pb-1">
                                <span class="roundIcon p-2 text-black-50"
                                  style="background-color:@requestType[1]">@Html.Raw(requestType[0])</span> @localizer[item.Type]
                            </div>
                            @*String format used for selecting parameters from localizer, including reflections for
                                available days to dynamically get it's properties and values*@
                            <p class="card-text" requestId="@item.Id">
                                @Html.Raw(string.Format(@localizer[item.Type + "Message"].Value,
                            ViewBag.availableDays.GetType().GetProperty(item.Type).GetValue(ViewBag.availableDays)))
                            </p>
                        </div>
                    </div>

                }
            </div>
            <div class="position-absolute bg-white p-2 rounded-circle d-flex shadow-sm" id="infoCardsArrowRight">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
        </div>
        <!--Calendar-->
        <section>
            <div class="box d-flex flex-row">
                <div class="container shadow" id="calendarWrapper" style="left:25%">
                    <div id="calendar">
                    </div>
                </div>
                <div class="container border shadow-sm" id="selectedDaysWrapper" style="left:-25%;">
                    <div class="p-3 pb-5 w-100 h-100" id="">
                        <div id="selectDaysHeader" class="d-flex justify-content-around">
                            <i class="fa-solid fa-floppy-disk fs-4 clickable" title="Submit" id="selectedDaysSubmit"></i>
                            <span class="fs-5">@localizer["selectedDaysHeader"]</span>
                            <i class="fa-solid fa-remove fs-4 clickable" title="Reset" id="selectedDaysReset"></i>
                        </div>
                        <div class="h-100 d-flex">
                            <div class="h-100 py-3 rounded w-100" id="selectedDaysList">
                            </div>
                            <div class="position-absolute" id="requestDetailsWrapper">
                                 <!--Paid days input hidden and total no. of days selected-->
                                <input class="form-control" type="number" placeholder="Paid days" name="paidDays" min="0" hidden />
                                <div class="form-floating">
                                    <input id="selectedDaysNum" type="number" class="form-control" placeholder="@localizer["noDaysSelected"]" readonly />
                                    <label class="text-nowrap">@localizer["noDaysSelected"]</label>
                                </div>
                                <!--Total Amount of days-->
                                <div class="form-floating">
                                    <input id="totalDaysAmount" value="0" type="number" class="form-control" placeholder="@localizer["totalDaysAmount"]" readonly />
                                    <label class="text-nowrap">@localizer["totalDaysAmount"]</label>
                                </div>
                                <!--Type of leave input-->
                                <div class="form-floating">
                                    <select class="form-select" name="requestType"
                                            asp-items="@(new SelectList(ViewBag.requestTypes, "Id", "Type"))">
                                        <option disabled selected value="0">-- @localizer["chooseType"] --</option>
                                    </select>
                                    <label for="requestType" class="text-nowrap">@localizer["requestType"]</label>
                                    <span id="requestTypeValidate" class="d-none text-danger">
                                        @localizer["requestTypeValidate"]
                                    </span>
                                </div>
                                <!--Reason input for unpaid leave is a requirement-->
                                <div class="form-floating">
                                    <textarea id="unpaidReason" name="Reason" class="form-control"></textarea>
                                    <label id="labelReason" for="Reason" class="text-nowrap">@localizer["reason"]</label>
                                    <span id="reasonValidate" class="d-none text-danger">@localizer["reasonValidate"]</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<!--Toast Message-->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 1111">
    <div id="toastMsg" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">System</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toastBody">
        </div>
    </div>
</div>

<script>
    $(function () {
        dycalendar.draw({
            target: '#calendar',
            type: 'month',
            dayformat: 'full',
            monthformat: 'full',
            highlighttargetdate: true,
            highlighttoday: true,
            prevnextbutton: 'show'

        });
        const selectedDaysList = $("#selectedDaysList");
    });
</script>