@{
    ViewData["Title"] = "Index";
    var today = DateTime.Now;
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
<script src="~/js/Areas/Employee/Home/index.js"></script>
<link href="~/css/Areas/Employee/Home/calendar.css" rel="stylesheet"/>
<script src="~/js/Areas/Employee/Home/calendar.js"></script>

<div class="container-fluid overflow-hidden">
    <div id="infoCardsWrapper" class="position-relative hstack pb-3">
        <div class="position-absolute bg-white p-2 rounded-circle d-flex shadow-sm" id="infoCardsArrowLeft"><i class="fa-solid fa-arrow-left"></i></div>
        <div class="row-cols-1 row-cols-md-3 row-cols-lg-4 p-3 hstack" id="infoCards">
            <!--Available days-->
            <div class="card m-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa-solid fa-calendar-check text-success"></i> @localizer["availableDays"]</h5>
                    <p class="card-text">@localizer["availableDaysMessage"]</p>
                </div>
            </div>
            <!--Spent days-->
            <div class="card m-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa-solid fa-calendar-minus text-warning"></i> @localizer["spentDays"]</h5>
                    <p class="card-text">@localizer["spentDaysMessage"]</p>
                </div>
            </div>
            <!--Bonus days-->
            <div class="card m-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa-solid fa-calendar-plus text-info"></i> @localizer["bonusDays"]</h5>
                    <p class="card-text">@localizer["bonusDaysMessage"]</p>
                </div>
            </div>
            <!--Previous-year days-->
            <div class="card m-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa-solid fa-calendar-day text-muted"></i> @localizer["prevYearDays"]</h5>
                    <p class="card-text">@localizer["prevYearDaysMessage"]</p>
                </div>
            </div>

            <!--Base days-->
            <div class="card m-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa-solid fa-calendar-days text-primary"></i> @localizer["baseDays"]</h5>
                    <p class="card-text">@localizer["baseDaysMessage"]</p>
                </div>
            </div>
        </div>
        <div class="position-absolute bg-white p-2 rounded-circle d-flex shadow-sm" id="infoCardsArrowRight"><i class="fa-solid fa-arrow-right"></i></div>
    </div>
    <!--Calendar-->
    <section>
        <div class="box d-flex flex-row">
            <div class="container shadow" id="calendarWrapper" style="left:25%">
                <div id="calendar">
                </div>
            </div>
            <div class="container border shadow-sm" id="selectedDaysWrapper" style="left:-25%;">
                <div class="p-3 pb-5 w-100 h-100" id="">
                    <div id="selectDaysHeader" class="d-flex justify-content-around">
                        <i class="fa-solid fa-floppy-disk fs-4 clickable" title="Submit" id="selectedDaysSubmit"></i>
                            <span class="fs-5">@localizer["selectedDaysHeader"]</span>
                        <i class="fa-solid fa-rotate-left fs-4 clickable" title="Reset" id="selectedDaysReset"></i>
                    </div>
                    <div class="h-100 py-3 rounded" id="selectedDaysList">

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>    
        dycalendar.draw({
            target:'#calendar',
            type:'month',
            dayformat:'full',
            monthformat:'full',
            highlighttargetdate:true,
            highlighttoday:true,
            prevnextbutton:'show'

        });
</script>