@model Furlough.Models.User
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Edit";
}

<div class="container subPageContainer">
    <div class="w-100">
        <div class="detailHeaderWrapper d-flex justify-content-between mb-3">
            <div class="blue-gradient rounded-pill customSubPageTitle text-center">
                <h2 class="text-white mt-2">@localizer["pageTitle"]</h2>
            </div>
            <div class="d-flex align-items-center">
                <a class="mx-1 text-danger paddingXBtn rounded border border-danger" asp-action="Delete"
                    asp-route-id="@Model.Id">@Resources.Shared._Table.delete</a>
            </div>
        </div>
    </div>
    <div id="detailsWrapper" class="w-100 ms-4">
        <div class="row">
            <div class="px-0 col-lg-6 col-md-8 col-sm-10 col-12">
                <form id="userForm" asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-floating mb-3">
                        <select asp-for="RoleId" class="form-control" asp-items="ViewBag.Roles"></select>
                        <label asp-for="RoleId" class="control-label">@localizer["role"]</label>
                        <span asp-validation-for="RoleId" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="InsertDate" class="form-control" />
                        <label asp-for="InsertDate" class="control-label">@localizer["insertDate"]</label>
                        <span asp-validation-for="InsertDate" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Username" class="form-control" placeholder='@localizer["username"]'/>
                        <label asp-for="Username" class="control-label">@localizer["username"]</label>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" data-strength asp-for="Password" class="form-control" placeholder='@localizer["password"]' maxlength="32" />
                        <label asp-for="Password" pass-label class="control-label">@localizer["password"]</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <span class="material-icons-round text-muted endOfInput noselect" id="showPassword">visibility</span>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="password" confirm-pass disabled class="form-control" placeholder='@localizer["confirmPassword"]' />
                        <label class="control-label">@localizer["confirmPassword"]</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <div class="form-group">
                            <input type="submit" disabled value="@Resources.Shared._Table.save" class="btn btn-primary" />
                        </div>
                        <div class="w-auto">
                            <a class="mx-1 px-4 rounded btn btn-primary" asp-action="Index">
                                @Resources.Shared._Table.backToList
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/css/Areas/Admin/User/index.css">
<script src="~/js/Areas/Admin/User/validation.js"></script>