@{
    var username = Context.User.Identity.Name;
    string[] action = Array.Empty<string>();
    bool inRequest = false;
    try
    {
        action = Context.Request.Path.ToString().Split("/");
        inRequest = action[2] == "Request" ? true : false;
    }
    catch (Exception e)
    {
        Console.WriteLine(e);
    }
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

<!DOCTYPE html>
<html>

<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="~/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/favicon/site.webmanifest">
    <link rel="mask-icon" href="~/favicon/safari-pinned-tab.svg" color="#5bbad5">

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link href="~/css/Areas/Layout/index.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-5.1.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/font-awesome-6.0/css/all.min.css" rel="stylesheet">
    <link href="~/css/Areas/Shared/index.css" rel="stylesheet">
    <link href="~/css/Areas/Shared/dropdown.css" rel="stylesheet" />
    <link href="~/css/Areas/Shared/customScrollBar.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Areas/Shared/index.js"></script>
    <script src="~/lib/font-awesome-6.0/js/all.min.js"></script>
    <script src="~/js/Areas/Shared/dropdown.js"></script>
    <script src="~/lib/ripple-effect/dist/ripples.js"></script>
    <script src="~/lib/bootstrap-5.1.3-dist/js/bootstrap.js"></script>

</head>

<body class="d-flex flex-column overflow-hidden">
    <header style="z-index: 1;">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom shadow">
            <div class="container-fluid mx-0 mx-md-5 justify-content-sm-between justify-content-around">
                <!-- Header brand ASSECO image-->
                <a class="navbar-brand me-0 me-sm-3 assecoLogoLink d-flex justify-content-center justify-content-sm-start p-2"
                    asp-area="" asp-controller="Home" asp-action="Index"><img id="assecologo"
                        src="~/images/asseco_southeasterneurope_logo.svg" alt="Asseco Logo" /></a>
                <div
                    class="navbar-collapse collapse d-sm-inline-flex justify-content-between flex-row-reverse flex-grow-0">
                    <ul class="navbar-nav align-items-center">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="ms-5 nav-item">
                            <partial name="~/Views/Shared/_Culture.cshtml" />
                        </li>
                    </ul>
                </div>
                <div class="menuOpener">
                    <input class="menu-btn" type="checkbox" id="menu-btn" />
                    <label id="sideHam" class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="d-flex flex-row row-cols-12 flex-grow-1" style="overflow-y: auto; overflow-x: hidden;">
        <aside id="sidenav" class="unselectable flex-grow-1 flex-column h-100 col-auto bg-white shadow position-relative" style="overflow: hidden;">
            <div style="flex: 1 1 auto; overflow: hidden overlay;">
                <div class="md-ripples ripples-light mx-4 my-3 rounded-pill">
                    <a id="dashboardLink"
                        class="sidenavLinks rounded-pill nav-link d-flex align-items-center @(action.Length == 2 ? "active" : "")"
                        href="/">
                        <span class="material-icons-round align-middle">dashboard</span> @Resources.Shared._Layout.dashTitle
                    </a>
                </div>

                <div class="md-ripples ripples-light mx-4 my-3 rounded-pill">
                    <a class="sidenavLinks rounded-pill nav-link @(action.Length > 2 && action[2]=="Department" ? "active" : "")"
                        asp-area="Manager" asp-controller="Department" asp-action="Index">
                        <i class="fas fa-building"></i> @Resources.Shared._Layout.depTitle
                    </a>
                </div>

                <div class="md-ripples ripples-light mx-4 my-3 rounded-pill">
                    <a class="sidenavLinks rounded-pill nav-link @(action.Length > 2 && action[2]=="Employee" ? "active" : "")"
                        asp-area="Manager" asp-controller="Employee" asp-action="Index">
                        <i class="fas fa-user-tie"></i> @Resources.Shared._Layout.empTitle
                    </a>
                </div>

                <div class="dropdownToggle md-ripples ripples-light mx-4 mb-3 rounded-pill">
                    <a class="sidenavLinks rounded-pill nav-link @(inRequest ? "active" : "")">
                        <i class="fa-solid fa-bars-staggered"></i> @Resources.Shared._Layout.reqTitle <i
                            style="font-size: 1rem;" class="fas fa-caret-down"></i>
                    </a>
                </div>
                <div class="layoutDropdown hideDropdown py-1">
                    <div class="md-ripples ripples-light mb-3 mx-4 rounded-pill">
                        <a class="sidenavLinks rounded-pill nav-link @(action.Length == 3 && action[2]=="Request" ? "active" : "")"
                            asp-area="Manager" asp-controller="Request" asp-action="Index">
                            <i class="far fa-clock"></i> Pending
                        </a>
                    </div>
                    <div class="md-ripples ripples-light my-3 mx-4 rounded-pill">
                        <a class="sidenavLinks rounded-pill nav-link @(action.Length > 3 && action[3]=="Approved" ? "active" : "")"
                            asp-area="Manager" asp-controller="Request" asp-action="Approved">
                            <i class="fas fa-check"></i> Approved
                        </a>
                    </div>
                    <div class="md-ripples ripples-light mt-3 mx-4 rounded-pill">
                        <a class="sidenavLinks rounded-pill nav-link @(action.Length > 3 && action[3]=="Rejected" ? "active" : "")"
                            asp-area="Manager" asp-controller="Request" asp-action="Rejected">
                            <i class="fas fa-minus"></i> Rejected
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="w-100" style="flex: 0 1 auto; bottom: 0;">
                <partial name="~/Views/Shared/_logOut.cshtml" />
            </div>
        </aside>
        <div class="w-100 h-100 flex-grow-1" style="overflow-y: auto; overflow-x: hidden; z-index: 0;">
            @RenderBody()
        </div>
    </main>
</body>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
<script src="~/js/Areas/Layout/side.js"></script>
<script src="~/lib/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>

<!--Datepicker-->
<link rel="stylesheet" href="~/css/Areas/Shared/bootstrap-datepicker-v1.9.0.min.css" />
<script src="~/js/Areas/Shared/bootstrap-datepicker-v1.9.0.min.js"></script>

<!--DataTables-->
<script src="~/lib/DataTables/datatables.min.js"></script>
<link rel="stylesheet" href="~/lib/DataTables/datatables.min.css" />
<script src="~/lib/DataTables/jszip.min.js"></script>

</html>