@model Furlough.DAL.Models.Request
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Create";
}

<div class="container subPageContainer">
    <div class="w-100">
        <div class="detailHeaderWrapper d-flex justify-content-between mb-3">
            <div class="blue-gradient rounded-pill customSubPageTitle text-center">
                <h2 class="text-white mt-2">@localizer["pageTitle"]</h2>
            </div>
        </div>
    </div>
    <div id="detailsWrapper" class="w-100 ms-4">
        <div class="row">
            <div class="px-0 col-lg-6 col-md-8 col-sm-10 col-12">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating mb-3">
                        <select asp-for="RequestedByUserId" class="form-control"
                            asp-items="ViewBag.RequestedByUserId"></select>
                        <label asp-for="RequestedByUserId">@localizer["userId"]</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select asp-for="RequestStatusId" class="form-control"
                            asp-items="ViewBag.RequestStatusId"></select>
                        <label asp-for="RequestStatusId">@localizer["requestStatus"]</label>
                    </div>
                    <div class="form-floating mb-2">
                        <select asp-for="RequestTypeId" class="form-control" asp-items="ViewBag.RequestTypeId"></select>
                        <label asp-for="RequestTypeId">@localizer["requestType"]</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input readonly asp-for="Dates" class="form-control datepicker" />
                        <label asp-for="Dates">@localizer["dates"]</label>
                        <span asp-validation-for="Dates" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input readonly asp-for="DaysAmount" class="form-control" placeholder="requestDaysAmount" />
                        <label asp-for="DaysAmount">@localizer["requestDaysAmount"]</label>
                        <span asp-validation-for="DaysAmount" class="text-danger"></span>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <div class="form-group">
                            <input type="submit" value="@Resources.Shared._Table.create" class="btn btn-primary" />
                        </div>
                        <div class="d-flex align-items-center">
                            <a class="mx-1 px-4 rounded btn btn-primary" asp-action="Index">
                                @Resources.Shared._Table.backToList
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Areas/Manager/Request/create.js"></script>