@model Furlough.DAL.Models.Request
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Edit";
}

<div class="container subPageContainer">
    <div class="w-100">
        <div class="detailHeaderWrapper d-flex justify-content-between mb-3">
            <div class="blue-gradient rounded customSubPageTitle text-center">
                <h2 class="text-white mt-2">@localizer["pageTitle"]</h2>
            </div>
            <div class="d-flex align-items-center">
                <a class="mx-1 text-danger paddingXBtn rounded border border-danger" asp-action="Delete"
                    asp-route-id="@Model.Id">@Resources.Shared._Table.delete</a>
            </div>
        </div>
    </div>
    <div id="detailsWrapper" class="w-100 ms-4">
        <div class="row">
            <div class="px-0 col-lg-6 col-md-8 col-sm-10 col-12">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-floating mb-3">
                        <select class="form-control" asp-for="RequestedByUserId"
                            asp-items="ViewBag.RequestedByUserId"></select>
                        <label asp-for="RequestedByUserId">@localizer["userId"]</label>
                        <span asp-validation-for="RequestedByUserId" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-control" asp-for="RequestStatusId"
                            asp-items="ViewBag.RequestStatusId"></select>
                        <label asp-for="RequestStatusId">@localizer["requestStatus"]</label>
                        <span asp-validation-for="RequestStatusId" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-2">
                        <select class="form-control" asp-for="RequestTypeId" asp-items="ViewBag.RequestTypeId"></select>
                        <label asp-for="RequestTypeId">@localizer["requestType"]</label>
                        <span asp-validation-for="RequestTypeId" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" asp-for="RequestedOn" />
                        <label asp-for="RequestedOn">@localizer["requestedTime"]</label>
                        <span asp-validation-for="RequestedOn" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" asp-for="DateFrom" />
                        <label asp-for="DateFrom">@localizer["dateFrom"]</label>
                        <span asp-validation-for="DateFrom" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" asp-for="DateUntil" />
                        <label asp-for="DateUntil">@localizer["dateTo"]</label>
                        <span asp-validation-for="DateUntil" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" asp-for="PaidDays" />
                        <label asp-for="PaidDays">@localizer["paidDays"]</label>
                        <span asp-validation-for="PaidDays" class="text-danger"></span>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <div class="form-group">
                            <input type="submit" value="@Resources.Shared._Table.save"
                                class="btn btn-primary" />
                        </div>
                        <div class="w-auto">
                            <a class="mx-1 px-4 rounded btn btn-primary" asp-action="Index">
                                @Resources.Shared._Table.backToList
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>