@model Furlough.DAL.Models.Employee
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/Areas/Shared/availableDays.css" />

<div class="container subPageContainer">
    <div class="w-100">
        <div class="detailHeaderWrapper d-flex justify-content-between mb-3">
            <div class="blue-gradient rounded-pill customSubPageTitle text-center">
                <h2 class="text-white mt-2">@localizer["pageTitle"]</h2>
            </div>
            <div class="d-flex align-items-center">
                <a class="ms-1 text-warning paddingXBtn rounded border border-warning" asp-action="Edit"
                    asp-route-id="@Model.Id">@Resources.Shared._Table.edit</a>
                <a class="ms-1 text-danger paddingXBtn rounded border border-danger" asp-action="Delete"
                    asp-route-id="@Model.Id">@Resources.Shared._Table.delete</a>
            </div>
        </div>
    </div>
    <div id="detailsWrapper" class="w-100 ms-4">
        <dl class="row">
            <dt class="col-sm-2">@localizer["joinDate"]:</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.JoinDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email):
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">@localizer["fullname"]:</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">@localizer["department"]:</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DepartmentId)
            </dd>
            <dt class="col-sm-2">@localizer["position"]:</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PositionId)
            </dd>
            <dt class="col-sm-2">@localizer["userId"]:</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserId)
            </dd>
            <dt class="col-sm-2">@localizer["availableDays"]:</dt>
            <dd class="col-sm-10">
                <div class="row">
                    @foreach (var item in typeof(Furlough.DAL.Models.AvailableDay).GetProperties())
                    {
                        if (item.Name == "EmployeeId")
                            continue;

                        string icon = "";
                        string backgroundCircle = "#000";
                        switch (item.Name)
                        {
                            case "Medical":
                                { icon = "<i class=\"fa-solid fa-stethoscope\"></i>"; backgroundCircle = "#A0CED9"; break; }
                            case "BloodDonation":
                                { icon = "<span class=\"material-icons-round\">bloodtype</span>"; backgroundCircle = "#DE3C4B"; break; }
                            case "Yearly":
                                { icon = "<i class=\"fa-solid fa-calendar-days\"></i>"; backgroundCircle = "#FFC09F"; break; }
                            case "PrevYearly":
                                { icon = "<i class=\"fa-regular fa-calendar\"></i>"; backgroundCircle = "#449DD1"; break; }
                            case "Overtime":
                                { icon = "<i class=\"fa-solid fa-business-time\"></i>"; backgroundCircle = "#3bc199"; break; }
                            case "Child":
                                {
                                    icon = "<span class=\"material-icons-round\">family_restroom</span>"; backgroundCircle = "#f9ad3b";
                                    break;
                                }
                            case "Marriage":
                                { icon = "<i class=\"fa-solid fa-martini-glass-citrus\"></i>"; backgroundCircle = "#917bbf"; break; }
                            case "Unpaid":
                                { icon = "<span class=\"material-icons-round\">money_off</span>"; backgroundCircle = "#A0CED9"; break; }
                            case "Maternity":
                                { icon = "<span class=\"material-icons-round\">chair</span>"; backgroundCircle = "#F7B801"; break; }
                            case "Birth":
                                {
                                    icon = "<span class=\"material-icons-round\">pregnant_woman</span>"; backgroundCircle = "#D33F49";
                                    break;
                                }
                            case "DeathOfRelative":
                                { icon = "<i class=\"fa-solid fa-heart\"></i>"; backgroundCircle = "#DF1B48"; break; }
                        }

                        <div class="rounded-pill border col-auto p-0 d-flex m-2" style="line-height: 0;">
                            <div class="d-flex align-items-center">
                                <span class="roundIcon text-black-50" style="background-color: @backgroundCircle;">@Html.Raw(icon)</span>
                                <span class="mx-2">@item.Name</span>
                                <span class="roundIcon" style="border:2px solid @backgroundCircle; border-width:0 2px 2px 0;">@(ViewBag.EmployeeDays != null ? item.GetValue(ViewBag.EmployeeDays) : "NaN")</span>
                            </div>
                        </div>
                    }
                </div>
            </dd>
        </dl>
    </div>
    <div class="w-auto">
        <a class="mx-1 px-4 rounded btn btn-primary" asp-action="Index">
            @Resources.Shared._Table.backToList
        </a>
    </div>
</div>