@model Furlough.Models.Employee
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="~/css/Areas/Shared/availableDays.css" />

<div class="container subPageContainer">
    <div class="w-100">
        <div class="detailHeaderWrapper d-flex justify-content-between mb-3">
            <div class="blue-gradient rounded-pill customSubPageTitle text-center">
                <h2 class="text-white mt-2">@localizer["pageTitle"]</h2>
            </div>
            <div class="d-flex align-items-center">
                <a class="ms-1 text-danger paddingXBtn rounded border border-danger" asp-action="Delete"
                   asp-route-id="@Model.Id">@Resources.Shared._Table.delete</a>
            </div>
        </div>
    </div>
    <div id="detailsWrapper" class="w-100 ms-4">
        <div class="row">
            <div class="px-0 col-lg-6 col-md-8 col-sm-10 col-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Id" />
                <div class="form-floating mb-3">
                    <input class="form-control" disabled asp-for="UserId" />
                    <label asp-for="UserId">@localizer["userId"]</label>
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="date" asp-for="WorkStartDate" min="1991-01-01" max="@string.Format("{0}-{1}-{2}", DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day)" />
                    <label>@localizer["workingSince"]</label>
                    <span asp-validation-for="WorkStartDate" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <select disabled class="form-control" asp-for="PositionId" asp-items="ViewBag.Positions">
                        <option disabled selected>--Select a position--</option>
                    </select>
                    <label asp-for="PositionId">@localizer["position"]</label>
                    <span asp-validation-for="PositionId" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <select class="form-control" asp-for="DepartmentId" asp-items="ViewBag.Departments"></select>
                    <label asp-for="DepartmentId">@localizer["department"]</label>
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" asp-for="Email" placeholder="Email" />
                    <label asp-for="Email"></label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-2">
                    <input class="form-control" asp-for="Name" placeholder='@localizer["fullname"]' />
                    <label asp-for="Name">@localizer["fullname"]</label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <!--Available Days Section-->
                <div class="mb-3 availableDaysWrapper">
                    <label class="text-50-black">Available Days</label>
                    <div class="row">
                        @foreach (var item in typeof(Furlough.DAL.Models.AvailableDay).GetProperties())
                        {
                            if (item.Name == "EmployeeId")
                                continue;

                            string icon = "";
                            string backgroundCircle = "#000";
                            switch (item.Name)
                            {
                                case "Medical":
                                    { icon = "<i class=\"fa-solid fa-stethoscope\"></i>"; backgroundCircle = "#A0CED9"; break; }
                                case "BloodDonation":
                                    { icon = "<span class=\"material-icons-round\">bloodtype</span>"; backgroundCircle = "#DE3C4B"; break; }
                                case "Yearly":
                                    { icon = "<i class=\"fa-solid fa-calendar-days\"></i>"; backgroundCircle = "#FFC09F"; break; }
                                case "PrevYearly":
                                    { icon = "<i class=\"fa-solid fa-calendars\"></i>"; backgroundCircle = "#29339B"; break; }
                                case "Overtime":
                                    { icon = "<i class=\"fa-solid fa-business-time\"></i>"; backgroundCircle = "#3bc199"; break; }
                                case "Child":
                                    {
                                        icon = "<span class=\"material-icons-round\">family_restroom</span>"; backgroundCircle = "#f9ad3b";
                                        break;
                                    }
                                case "Marriage":
                                    { icon = "<i class=\"fa-solid fa-martini-glass-citrus\"></i>"; backgroundCircle = "#917bbf"; break; }
                                case "Unpaid":
                                    { icon = "<span class=\"material-icons-round\">money_off</span>"; backgroundCircle = "#A0CED9"; break; }
                                case "Maternity":
                                    { icon = "<span class=\"material-icons-round\">chair</span>"; backgroundCircle = "#F7B801"; break; }
                                case "Birth":
                                    {
                                        icon = "<span class=\"material-icons-round\">pregnant_woman</span>"; backgroundCircle = "#D33F49";
                                        break;
                                    }
                                case "DeathOfRelative":
                                    { icon = "<i class=\"fa-solid fa-heart\"></i>"; backgroundCircle = "#DF1B48"; break; }
                            }

                                    <div class="rounded-pill border col-auto p-0 d-flex m-2" style="line-height: 0;">
                                        <div class="d-flex align-items-center">
                                            <span class="roundIcon text-black-50" style="background-color: @backgroundCircle;">@Html.Raw(icon)</span>
                                            <span class="mx-2">@item.Name</span>
                                            <input class="roundIcon roundIconValue" data-request-type=@item.Name style="border:2px solid @backgroundCircle;" type="number" min="0" max="50" value="@(ViewBag.EmployeeDays != null ? item.GetValue(ViewBag.EmployeeDays) : "-1")" />
                                        </div>
                                    </div>
                        }
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center mt-2">
                        <div class="mx-1 px-4 rounded btn btn-primary" id="resetBtn" data-employee-id="@Model.Id">
                            @Resources.Shared._Table.reset
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-2">
                        <div class="form-group">
                            <input disabled id="submitBtn" type="submit" value="@Resources.Shared._Table.save"
                                   class="btn btn-primary" />
                        </div>
                        <div class="w-auto">
                            <a class="mx-1 px-4 rounded btn btn-primary" asp-action="Index">
                                @Resources.Shared._Table.backToList
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Toast Message-->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 1111">
    <div id="toastMsg" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Confirm</strong>
        </div>
        <div class="toast-body" id="toastBody">
            <p>
                Are you sure you want to save changes?
            </p>
            <div class="d-flex justify-content-between">
                <button class="btn btn-outline-primary">Confirm</button>
                <button class="btn btn-outline-secondary" data-bs-dismiss="toast" aria-label="Close">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>
    let hasUsers = @(ViewBag.Users == null ? false.ToString().ToLower() : true.ToString().ToLower());
</script>
<script src="~/js/Areas/Shared/getPositions.js"></script>
<script src="~/js/Areas/Admin/Employee/edit.js"></script>