@model IEnumerable<Furlough.DAL.Models.Request>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@{
    ViewBag.Title = "Pending Requests";
}
<link rel="stylesheet" href="~/css/Areas/Employee/Request/index.css" />

<div class="h-100 w-100 p-5">
    <div class="text-muted fs-3 d-flex">My pending requests <span class="ms-3 rounded-circle border border-primary shadow-sm text-center fs-4" style="min-height:40px; min-width:40px;">@Model.Count()</span></div>
    <div class="p-5 row row-cols-1 row-cols-md-3 row-cols-lg-5">
        @foreach (var item in Model)
        {
            <div class="card col m-2 roleBorder" style="width: 18rem; border-radius:0.55rem; font-family:'Trebuchet MS','monospace';" employeeId="@item.Id">
                <div class="card-body">
                    <!-- decrease by 1 since arrays start at 0 -->
                    <div class="d-flex align-items-center mb-3">
                        <div class="rounded-circle p-1 text-center roundIcon" style="background-color:#1BE7FF;"><i class="fa-solid fa-person-running"></i></div>
                        <div class="ms-3 d-flex flex-column fw-bold">@localizer["leaveType"]
                            <div class="card-subtitle text-black-50">@ViewBag.RequestTypes[--item.RequestTypeId].Type</div>
                        </div>
                    </div>
                <!-- requested-on row -->
                    <div class="d-flex align-items-center mb-3">
                        <div class="rounded-circle p-1 text-center roundIcon" style="background-color:#FFB800;"><i class="fa-solid fa-calendar"></i></div>
                        <div class="ms-3 d-flex flex-column fw-bold">@localizer["requestedOn"]
                            <div class="card-subtitle text-black-50">@item.RequestedOn.ToLongDateString()</div>
                        </div>
                    </div>
                    <!-- paid days row -->
                    <div class="d-flex align-items-center mb-3">
                        <div class="rounded-circle p-1 text-center roundIcon" style="background-color:#6EEB83;min-width:30px; min-height:30px;"><i class="fa-solid fa-coins"></i></div>
                        <div class="card-text ms-3 d-flex flex-column fw-bold">@localizer["paidDays"]
                            <div class="text-black-50" style="margin-top:-0.2rem;">@item.PaidDays @localizer["businessDays"]</div>
                        </div>
                    </div>
                    <!-- datepicker -->
                    <div class="input-group date">
                        <input readonly class="form-control datepicker" placeholder="Dates" requestId="@item.Id" value="@item.Dates">
                        <div class="input-group-text">
                            <i class="fa-solid fa-calendar"></i>
                        </div>
                    </div>
                    <!-- submit edited dates button -->
                    <button class="form-control btn btn-outline-primary mt-5">@localizer["editDates"]</button>
                </div>
            </div>
        }
    </div>
</div>

<script src="~/js/Areas/Employee/Request/index.js"></script>