@model Furlough.DAL.Models.SpentDaysHistory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SpentDaysHistory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BonusDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BonusDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrevYearDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrevYearDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestHistory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestHistory.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
