@model IEnumerable<Furlough.DAL.Models.RequestByDepartment>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = "Index";
    int counter = 0;
}

<div class="container-fluid p-0 mt-5">
    <div class="w-100 d-flex justify-content-center d-none"> @*//change d-none*@
        <div
            class="blue-gradient-div shadow rounded-pill py-2 mx-4 mb-3 d-flex justify-content-center align-items-center">
            <h2 class="text-white mx-3">@Resources.Shared._Layout.reqTitle</h2>
        </div>
    </div>
    <div class="employeeRequestTableDiv w-100 d-flex justify-content-center">
        <table class="table rounded">
            <thead>
                <tr id="buttonsContainer"></tr>
                <tr>
                    <th>@localizer["employeeName"]</th>
                    <th>@localizer["requestedTime"]</th>
                    <th>@localizer["requestStatus"]</th>
                    <th>@localizer["requestPaidDays"]</th>
                    <th class="text-center">
                        <a class="mx-1 text-primary px-4 rounded border border-primary"
                            asp-action="Create">@Resources.Shared._Table.create</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr rowId="@counter">
                        <td>
                            <a class="rowLink" asp-action="Details" asp-route-id="@item.RequestId">
                                @Html.DisplayFor(modelItem => item.EmployeeName)
                            </a>
                        </td>
                        <td>
                            <a class="rowLink" asp-action="Details" asp-route-id="@item.RequestId">
                                @Html.DisplayFor(modelItem => item.RequestedOn)
                            </a>
                        </td>
                        <td>
                            <a class="rowLink" asp-action="Details" asp-route-id="@item.RequestId">
                                @Html.DisplayFor(modelItem => item.RequestStatusId)
                            </a>
                        </td>
                        <td>
                            <a class="rowLink" asp-action="Details" asp-route-id="@item.RequestId">
                                @Html.DisplayFor(modelItem => item.RequestDaysAmount)
                            </a>
                        </td>
                        <td class="text-center align-middle">
                            <a class="mx-1 text-warning px-4 rounded border border-warning" asp-action="Edit"
                            asp-route-id="@item.RequestId">
                                @Resources.Shared._Table.edit
                            </a>
                            <a class="mx-1 text-danger px-4 rounded border border-danger" asp-action="Delete"
                            asp-route-id="@item.RequestId">
                                @Resources.Shared._Table.delete
                            </a>
                        </td>
                    </tr>
                    //Counter Incremental
                    counter++;
                }
            </tbody>
        </table>
    </div>
</div>
<script src="~/lib/DataTables/datatables.min.js"></script>
<link rel="stylesheet" href="~/lib/DataTables/datatables.min.css" />
<script>
    $(function(){
        var table = $(".table").DataTable({
            dom: "<'d-flex flex-column border rounded'B<'d-flex justify-content-center my-2'f><t>p>",
            buttons: true
        });

    });
</script>